@import '../../styles/variable.module.scss';

.main {
}

.content {
  margin-top: 196px;
  @include flexBetween;

  @media (max-width: 1049px) {
    @include flexCenter;
    gap: 32px;
  }
}

.leftBlock {
  max-width: 510px;
  min-height: 408px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.title {
  max-width: 474px;
}

.text {
  max-width: 447px;
}

.button {
  margin-top: 48px;
  width: 256px;
  height: 56px;
}
