@import '../../styles/variable.module.scss';

.main {
  @include flexCenter;

  transition: transform 0.3s ease;

  &:active {
    transform: translateY(2px);
  }
}

.buttonWhite {
  padding: 16px 32px;

  background-color: $white-color;
  border-radius: 64px;

  color: #0e0c15;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

.buttonDark {
  // min-height: 56px;
  @include flexCenter;

  padding: 16.5px 82px;
  // align-self: stretch;

  border-radius: 64px;
  border: 1px solid rgba(255, 255, 255, 0.25);

  color: $white-color;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 22.5px */
  text-transform: capitalize;
}

.processButton {
  @include flexCenter;

  padding: 16px 32px;
  border-radius: 64px;
  background: $blue-color;
}

.buttonBlue {
  padding: 16px 32px;
  @include flexCenter;

  border-radius: 64px;
  background: $blue-color;

  color: $white-color;
  text-align: center;
  font-feature-settings: 'liga' off;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.buttonBlueDark {
  padding: 16.5px 72px;

  @include flexCenter;

  border-radius: 64px;
  background: linear-gradient(
    80deg,
    #3d1dff -5.76%,
    #ea4697 60.73%,
    #ffc98b 104.17%
  );

  color: $white-color;
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  text-transform: capitalize;
}

.buttonBlueLight {
  padding: 16.5px 82px;

  border-radius: 64px;
  border: 1px solid #ff9898;
  background: linear-gradient(136deg, #ff9898 14.73%, #8054ff 86.33%);

  color: $white-color;
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  text-transform: capitalize;
}
