@import '../../../styles/variable.module.scss';

.main {
  min-height: 104px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.content {
  padding-top: 42px;
  padding-bottom: 42px;

  @include flexBetween;

  @media (max-width: 768px) {
    @include flexCenter;
    gap: 32px;
  }
}

.logo {
  @include flexBetween;
  gap: 12px;

  color: $white-color;

  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
}

.logoTextContainer {
  @include flexBetween;
  gap: 5px;

  color: $white-color;
  font-feature-settings: 'liga' off;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 20px */

  .logoTextFirst {
    font-weight: 800;
  }

  .logoDivider {
    font-weight: 200;
  }

  .logoTextSecond {
    font-weight: 400;
  }
}
