@import '../../../styles/variable.module.scss';

.modal__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.modal__title {
  font-size: $title-size-sm;
  font-weight: 700;
}

.modal__description {
  padding-top: 18px;
  max-width: 362px;
  width: 100%;
}
