@import '../styles/variable.module.scss';

.main {
  min-height: 3743px;

  background-image: url('../public/images/background-all.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
