@import '../styles/variable.module.scss';

.main {
  min-height: 4440px;

  background-image: url('/images/background-all-empty.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
