@import '../../styles/variable.module.scss';

.main {
  margin-top: 192px;
}

.titleContainer {
  max-width: 687px;
  min-height: 148px;

  margin: 0 auto;
}

.cardContainer {
  margin-top: 56px;
  @include flexBetween;
  gap: 12px;

  @media (max-width: 695px) {
    gap: 24px;
    @include flexCenter;
  }
}
