@import '../../styles/variable.module.scss';

.main {
  margin-top: 104px;
  min-height: 104px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.title {
  height: 104px;

  @include flexCenter;

  color: rgba(255, 255, 255, 0.6);
  font-feature-settings: 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}
