@import '../../../styles/variable.module.scss';

.main {
  margin-top: 95px;
}

// .content {
//   max-width: 100%;
//   min-height: 100%;

// }

.grid {
  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 14px;
  height: 100%;

  @media (max-width: 1068px) {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    max-width: 687px;
    min-height: 100%;
    margin: 0 auto;
  }

  @media (max-width: 769px) {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;

    max-width: 364px;
    margin: 0 auto;
  }
}

.item0 {
  //   background: #796fdb;
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;

  @media (max-width: 1068px) {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 3;
  }

  @media (max-width: 769px) {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;
  }
}
.item1 {
  //   background-color: #9b7557;
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 4;

  @media (max-width: 1068px) {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 3;
  }

  @media (max-width: 769px) {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
  }
}

.item2 {
  //   background-color: #eb8bc6;
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;

  @media (max-width: 1068px) {
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 2;
  }

  @media (max-width: 769px) {
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 2;
  }
}

.item3 {
  //   background-color: #7ee67b;
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 4;

  @media (max-width: 1068px) {
    grid-row-start: 3;
    grid-column-start: 2;

    grid-row-end: 4;
    grid-column-end: 3;
  }

  @media (max-width: 769px) {
    grid-row-start: 4;
    grid-column-start: 1;

    grid-row-end: 5;
    grid-column-end: 2;
  }
}
