//color

$white-color: #ffffff;
$color-black: #000;
$blue-color: #279fac;
$background-dark: #16102e;

//text
$title-size-lg: 80px;
$title-size-md: 56px;

//background
$background: #f5f4f4;

//mixins

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flexBetween() {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
