//color
$red-color: #ff6565;
$white-color: #ffffff;
$black-color: #071629;

//background
$background: #f5f4f4;

//mixins

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween() {
}
