@import '../../../styles/variable.module.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;

  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(32px);

  //   @media (max-width: 1068px) {
  //     display: none;
  //   }
}

.content {
  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 18px;
}

.image {
  border-radius: 8px 8px 0 0;
}

.verticalImage {
  width: 336px;
  height: 538px;

  border-radius: 8px 8px 0 0;

  background-image: url('/images/project-vertical.png');

  @media (max-width: 1068px) {
    width: 687px;
    height: 206px;
    background-image: url('/images/project-horizontal.png');
  }

  @media (max-width: 769px) {
    width: 333px;
    height: 206px;

    background-image: url('/images/project-normal.png');
  }
}

.horizontalImage {
  width: 682px;
  height: 206px;

  border-radius: 8px 8px 0 0;
  background-image: url('/images/project-horizontal.png');

  @media (max-width: 1068px) {
    background-position: center;
    background-size: cover;
  }

  @media (max-width: 769px) {
    width: 333px;
    height: 206px;

    background-image: url('/images/project-normal.png');
  }
}

.normalImage {
  width: 333px;
  height: 206px;

  border-radius: 8px 8px 0 0;
  background-image: url('/images/project-normal.png');
}

.title {
  color: $blue-color;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.text {
  color: $white-color;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
